.main-content{
    background-image: url("/assets/images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid white;
}

.myNav {
    
    background-image: url("/assets/images/banner.jpg");
}
.header {
    background-color: rgba(11,46,22, 0.7);
    margin: none;
    width: 100%;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 3vw;
    font-family: 'Pacifico', cursive, Verdana, Tahoma, sans-serif;
}

.scoreBoard {
    margin: 20px;
    padding: 20px;
    font-size: 3vw;
}

.btn{
    border: 1px soid rgb(224, 220, 220);
    margin: 20px;
}

.triviaGame {
    margin: 50px;
    padding: 20px;
}

.funny-gif {
    max-width: 250px;
    max-height: 250px;
}