.main-content{
    background-image: url("/assets/images/container-bg.jpg");
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    max-height: 600rem;
    margin-top: 20px;
    text-align: center;
    color: white;
    padding: 30px;
    
}
.header {
    margin: 20px;
    font-size: 3vw;
}
.scoreBoard {
    margin: 20px;
    padding: 20px;
    font-size: 3vw;
}

.choices{
    border: 1px soid rgb(224, 220, 220);
    margin: 20px;
}

.triviaGame {
    margin: 50px;
    padding: 20px;
}